<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Add employee</h2>
    </div>
    <div class="panel-body">
        <ng-form name="employeeAddForm">
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.firstName.$invalid && employeeAddForm.firstName.$dirty }">
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="firstName" class="form-control" ng-model="employee.firstName"
                               placeholder = "First Name" required>
                        <span class="help-block" ng-show="employeeAddForm.firstName.$error.required
                             && employeeAddForm.firstName.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.lastName.$invalid && employeeAddForm.lastName.$dirty }">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="firstName" class="form-control" ng-model="employee.lastName"
                               placeholder = "Last Name" required>
                        <span class="help-block" ng-show="employeeAddForm.lastName.$error.required
                             && employeeAddForm.lastName.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.email.$invalid && employeeAddForm.email.$dirty }">
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" class="form-control" ng-model="employee.email"
                               placeholder = "Email" required>
                        <span class="help-block" ng-show="employeeAddForm.email.$error.required
                             && employeeAddForm.email.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.phoneNumber.$invalid && employeeAddForm.phoneNumber.$dirty }">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" ng-model="employee.phoneNumber"
                               placeholder="Phone Number" ng-pattern="phoneNumberPattern" required>
                        <span class="help-block" ng-show="employeeAddForm.phoneNumber.$error.required
                             && employeeAddForm.phoneNumber.$dirty">{{requiredErrorMessage}}</span>
                        <span class="help-block" ng-show="employeeAddForm.phoneNumber.$error.pattern
                             && employeeAddForm.phoneNumber.$dirty">{{patternPhoneNumberNotRespectedMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.jobId.$invalid && employeeAddForm.jobId.$dirty }">
                        <label for="jobId">Job Title:</label>
                        <select id="jobId" ng-model="employee.jobId" name="jobTitle" class="form-control" placeholder = "Job Title" required
                                ng-options="job.jobTitle for job in jobs track by job.jobId">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.salary.$invalid && employeeAddForm.salary.$dirty }">
                        <label for="salary">Salary:</label>
                        <input type="text" id="salary" name="salary" class="form-control" ng-model="employee.salary"
                               placeholder = "Salary" required>
                        <span class="help-block" ng-show="employeeAddForm.salary.$error.required
                             && employeeAddForm.salary.$dirty">{{requiredErrorMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.hireDate.$invalid && employeeAddForm.hireDate.$dirty }">
                        <label for="hireDate">Hire Date:</label>
                        <input type="text" id="hireDate" name="hireDate" class="form-control" ng-model="employee.hireDate"
                               placeholder="Hire Date" ng-pattern="datePattern" required>
                        <span class="help-block" ng-show="employeeAddForm.hireDate.$error.required
                             && employeeAddForm.hireDate.$dirty">{{requiredErrorMessage}}</span>
                        <span class="help-block" ng-show="employeeAddForm.hireDate.$error.pattern
                             && employeeAddForm.hireDate.$dirty">{{patternDateNotRespectedMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.departmentId.$invalid }">
                        <label for="departmentId">Department:</label>
                        <select id="departmentId" ng-model="employee.departmentId" name="departmentId" class="form-control" required
                                ng-options="department.departmentName for department in departments track by department.departmentId">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group">
                        <!--TODO#HR2-->

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.commissionPct.$invalid && employeeAddForm.commissionPct.$dirty }">
                        <label for="commissionPct">Commission:</label>
                        <input type="text" id="commissionPct" name="commissionPct" class="form-control" ng-model="employee.commissionPct"
                               placeholder="Commission" ng-pattern="commissionPattern" required>
                         <span class="help-block" ng-show="employeeAddForm.commissionPct.$error.required
                             && employeeAddForm.commissionPct.$dirty">{{requiredErrorMessage}}</span>
                         <span class="help-block" ng-show="employeeAddForm.commissionPct.$error.pattern
                             && employeeAddForm.commissionPct.$dirty">{{patternCommisionNotRespectedMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group">
                        <!--TODO#HR2-->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.manager.$invalid }">
                        <label for="manager">Manager:</label>
                        <select id="manager" ng-model="employee.managerId" name="manager" class="form-control" required
                                ng-options="manager.firstName+' '+ manager.lastName for manager in managers track by manager.employeeId">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <p>
                            <a class="btn btn-primary btn-lg" role="button" ng-disabled="employeeAddForm.$invalid"
                               ng-click="create(employee)">Save</a>
                        </p>
                        <p>
                            <a class="btn btn-primary btn-lg" role="button" ng-click="reset()">Reset</a>
                        </p>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>