<ng-form name="myForm" class="my-form">
    userType: <input name="input" ng-model="userType" required>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    userType = {{userType}}<br>
    myForm.input.$valid = {{myForm.input.$valid}}<br>
    myForm.input.$error = {{myForm.input.$error}}<br>
    myForm.$valid = {{myForm.$valid}}<br>
    myForm.$error.required = {{!!myForm.$error.required}}<br>
    myForm.$pristine = {{myForm.$pristine}}<br>
    myForm.$dirty = {{myForm.$dirty}}<br>
    myForm.$invalid = {{myForm.$invalid}}<br>
    myForm.$submitted = {{myForm.$submitted}}<br>
</ng-form>

<p>
    <a class="btn btn-primary btn-lg" role="button" ng-click="validSubmitted()">Submit</a>
</p>

